<%- include("partials/header") -%>
<form method="post" action="/authen">
<center><h1>Enter The Key to access Your saved Code</h1></center>
<center><input style="margin-top: 3%;" type="text" name="pass"autocomplete="off"/></center>
<center>
    <button 
    type="Submit" style="margin-top: 3%;background-color:#1abc9c;" class="btn btn-outline-info">Submit</button>
</center>
</form>
<%- include("partials/footer") -%>