<%- include("partials/header") -%>
<form method="get" action="/delete">
    <button 
    type="Submit"   style="margin-top: 3%; margin-left:85%;background-color:#1abc9c;" class="btn btn-outline-info">Delete</button>

</form>

<center><h1>Here's your saved Code.</h1></center>
<p style="margin-top: 4%;"><%= object.content %></p>
<%- include("partials/footer") -%>